/* 
hot pink: #FE65B7
Corn: #E9C904
Grass: #8FC334
Cyan: #62Edd6
*/
h1{
    font-size: 30px;
    color: rgb(255, 0, 0);
    line-height: 1; 
    font-family: fantasy;
    font-weight: 100;
   
}
h2{
    font-size: 20px;
    color: rgb(245, 12, 255);
    line-height: 2;

}
p{
    font-size: 20px;
    color: rgb(153, 0, 255);
    line-height: 3;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
   
}
span{ 
    font-size: 30px;
    color: rgb(123, 123, 123);
    font-family: fantasy;
}
#doctype{
    font-size: 20px;
    font-family: monospace;
}
#textalign{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    text-align: center;
}
#textdecoration{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    text-align: center;
}
#fontweight{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    text-align: center;
}
body{
    background-color: #E9C904 ;}
header{
    background-color: rgb(5, 5, 5);
}
nav{
    background-color: rgba(247, 8, 8, 0);
}

.bold {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' sans-serif;
    text-decoration: underline;
}
#myCanvas {
    background-color: white;
}
